# Django/API
DEBUG=True
SECRET_KEY=replace-with-secret
ALLOWED_HOSTS=127.0.0.1,localhost

# Azure SQL
DB_ENGINE=mssql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=.database.windows.net
DB_PORT=1433









# ML


# Frontend

