# Django/API
DEBUG=True
SECRET_KEY=replace-with-secret
ALLOWED_HOSTS=127.0.0.1,localhost

# Azure SQL
DB_ENGINE=mssql
DB_NAME=safety_monitoring
DB_USER=CloudSA821d0c54
DB_PASSWORD=Snehal@2508
DB_HOST=portfolioserversnehal.database.windows.net
DB_PORT=1433


#server name : safetymonitering / portfolioserversnehal

#2024.snehal.dighore@ves.ac.in
#Admin Object/App ID: c5ac189c-5d2d-43b6-861a-f351b87b53f7



# ML
MODEL_PATH=backend/core/ml/artifacts/hazard_rf.joblib

# Frontend
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
